name: Build XXX manager

on:  
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build_result: ${{ steps.result.outputs.result }}
    steps:
      - uses: actions/checkout@v2
      
      - name: Save build result
        id: result    
        run: echo "::set-output name=result::$(echo "this is build result")"        
      - name: curl error
        run: curl http://123.321.555.10001
  test:
    runs-on: ubuntu-latest
    needs: build
    outputs:
      test_result: ${{ steps.result.outputs.result }}
    steps:
      - name: Echo build result
        run: echo ${{ needs.build.outputs.build_result }}

      - name: Save test result
        id: result
        if: ${{ success() }}        
        run: echo "::set-output name=result::$(echo "this is test result")"        

  deploy:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      deploy_result: ${{ steps.result.outputs.result }}
    steps:
      - name: Echo test result
        run: echo ${{ needs.test.outputs.test_result }}

      - name: Save deploy result
        id: result
        if: ${{ success() }}        
        run: echo "::set-output name=result::$(echo "this is deploy result")"   
