name: Build XXX manager

on:  
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: curl --request POST 'http://google.com'

      - name: Save build result
        if: ${{ success() }}
        run: echo "BUILD_RESULT=$(echo build_result)" >> $GITHUB_ENV
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run a one-line script
        run: curl --request POST 'http://google.com'
        
      - name: Echo build result
        run: echo $BUILD_RESULT

      - name: Save test result
        if: ${{ success() }}
        run: echo "TEST_RESULT=$(echo test_result)" >> $GITHUB_ENV
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Echo test result
        run: echo $TEST_RESULT
        
      - name: Run a one-line script
        run: curl --request POST 'http://google.com'

      - name: Save deploy result
        if: ${{ success() }}
        run: echo "DEPLOY_RESULT=$(echo deploy_result)" >> $GITHUB_ENV
